# Python
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
